In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [49]:
df=pd.read_csv('train.csv')

#Ostateczna obróbka w wersji prealpha
for i in range(len(df.columns)):
    print(df.columns[i], df[df.columns[i]].dtypes, df[df.iloc[:,i].isna()].shape[0])
    if (df[df.columns[i]].dtypes=='object'):
        df.loc[df.iloc[:,i].isna(),df.columns[i]]='Nothingface'
    else:
        df.loc[df.iloc[:,i].isna(),df.columns[i]]=1000
    print(df.columns[i], df[df.columns[i]].dtypes, df[df.iloc[:,i].isna()].shape[0])
df=df.loc[:,df.columns[(df.columns!='Name') & (df.columns!='Ticket') & (df.columns!='Cabin')]]

PassengerId int64 0
PassengerId int64 0
Survived int64 0
Survived int64 0
Pclass int64 0
Pclass int64 0
Name object 0
Name object 0
Sex object 0
Sex object 0
Age float64 177
Age float64 0
SibSp int64 0
SibSp int64 0
Parch int64 0
Parch int64 0
Ticket object 0
Ticket object 0
Fare float64 0
Fare float64 0
Cabin object 687
Cabin object 0
Embarked object 2
Embarked object 0

In [241]:
l=math.floor(0.2*df.shape[0])
k=[0]*l
dp=[False]*df.shape[0]

for i in range(l):
    k[i]=np.random.randint(1, df.shape[0])
    while (dp[k[i]]==True):
        k[i]=np.random.randint(1, df.shape[0])
    dp[k[i]]=True

dp2=np.logical_not(dp)

train=df[dp2].copy()
test=df[dp].copy()

In [242]:
def proceed(p):
    partalles=0
    gini=1
    partalles=sum(p)
    for jj in range(classes):
        gini-=(p[jj]*p[jj])/(partalles*partalles)
    return (partalles, gini)

def purify(p):
    for jj in range(classes):
        p[jj]=0


i=0

X=[]
Dat=[train]

Pred=df.columns.get_loc('Survived')
classes=2

while (i<len(Dat) and i<1000):    
    #Wartość Nodesa
    ZZ=Dat[i].groupby([Dat[i].columns[Pred]]).count()[Dat[i].columns[0]]
    ZZ=ZZ*ZZ
    value=(1-sum(ZZ)/(len(Dat[i])*len(Dat[i])))
    #print(value[i])
    
    ij=0; vv=0
    p=[0]*classes
    allp=[0]*classes
    #print('Paar', i, len(Dat[i]))
    
    bjaest=(1,)
    #Wybór najlepszego punktu bicia kategorycznego
    for j in range(len(Dat[i].columns)):
        if (j==Pred):
            continue
        #Liczenie funkcji kosztu
        L=Dat[i].iloc[:,[j,Pred]].copy()
        L.sort_values(by=L.columns[0], inplace=True)
                
        wynne=0
        if(L.iloc[:,0].dtypes=='object'):
            for ii in range(len(L)):
                if (ii!=0 and L.iat[ii,0]!=L.iat[ii-1,0]):
                    partalles, gini=proceed(p)
                    purify(p)
                    wynne=wynne+partalles*gini
                p[L.iat[ii,1]]+=1
            partalles, gini=proceed(p)
            purify(p)
            
            wynne=wynne+partalles*gini
            
            wynne=wynne/len(L)
        
        #Miara bicia liczbowego
        else:
            wynne=10
            for ii in range(len(L)):
                allp[L.iat[ii,1]]+=1
            
            pointofsplit=-1
            for ii in range(len(L)):
                if (ii>0 and L.iat[ii,0]!=L.iat[ii-1,0]):
                    part1, gini1=proceed(p)
                    part2, gini2=proceed(list(pd.Series(allp)-pd.Series(p)))
                    
                    if (wynne>(part1*gini1+part2*gini2)/len(L)):
                        wynne=(part1*gini1+part2*gini2)/len(L)
                        pointofsplit=L.iat[ii,0]
                
                p[L.iat[ii,1]]+=1
                
            purify(p)
            purify(allp)
            
        
        #Znalezienie najlepszego bicia
        if (wynne<bjaest[0]):
            if (L.iloc[:,0].dtypes=='object'):
                bjaest=(wynne, L.columns[0])
            else:
                bjaest=(wynne, L.columns[0], pointofsplit)
    
    
    #Modyfikacja Drzewa
    if (bjaest[0]<value and i<20):
        Dat[i].sort_values(by=bjaest[1])
        #Podział - zmienna kategoryczna
        if (len(bjaest)==2):
            Z=np.unique(Dat[i][bjaest[1]])
            AA=len(Dat)
            Dat[i].sort_values(by=bjaest[1], inplace=True)
            mil=Dat[i].columns.get_loc(bjaest[1])
            lastcut=0
            jeez=[]
            
            for j in range(1, len(Dat[i]), 1):
                if (Dat[i].iat[j,mil]!=Dat[i].iat[j-1,mil]):
                    Dat.append(Dat[i].iloc[lastcut:j,:].copy())
                    jeez.append(Dat[i].iat[j-1,mil])
                    lastcut=j
                    
            Dat.append(Dat[i].iloc[lastcut:,:].copy())
            jeez.append(Dat[i].iat[j-1,mil])
            
            X.append((0, bjaest[1], None, AA, jeez))
            
        #Podział - zmienna numeryczna
        else:
            X.append((0, bjaest[1], bjaest[2], len(Dat)))
            
            Dat.append(Dat[i][Dat[i][bjaest[1]]<bjaest[2]].copy())
            Dat.append(Dat[i][Dat[i][bjaest[1]]>=bjaest[2]].copy())
            #Dat.append(Dat[i][Dat[i][bjaest[1]]<bjaest[2]].copy())
            
    else:
        p=[0]*classes
        maks=0
        for j in range(len(Dat[i])):
            s=Dat[i].iat[j,Pred]
            p[s]+=1
            if (p[s]>p[maks]):
                maks=s
        
        X.append((1, maks, bjaest[0]))
    
    i+=1

In [243]:
summa=0

for i in range(len(test)):
    j=0
    while (1):
        if (X[j][0]==1):
            break
        else:
            Mine=test.iat[i,test.columns.get_loc(X[j][1])]
            if (X[j][2]==None):
                All=X[j][4]
                try:
                    k=pd.Index(All).get_loc(test.iat[i,test.columns.get_loc(X[j][1])])
                except:
                    k=0
                outnode=X[j][3]+k
                j=outnode
            else:
                Myval=test.iat[i,test.columns.get_loc(X[j][1])]
                #print('Revaluation', Myval, X[j][2])
                if (Myval<X[j][2]):
                    j=X[j][3]
                else:
                    j=X[j][3]+1
    summa=summa+abs(X[j][1]-test.iat[i,Pred])
print(1-summa/len(test))

0.8258426966292135

In [86]:
for i in range(len(X)):
    print(i, len(Dat[i]), X[i])

0 713 (0, 'Sex', None, 1, 3)
1 247 (0, 'Pclass', 3, 3, 5)
2 466 (0, 'Age', 4.0, 5, 7)
3 115 (0, 'Embarked', None, 7, 10)
4 132 (0, 'Age', 3.0, 10, 12)
5 449 (0, 'Pclass', 2, 12, 14)
6 17 (0, 'SibSp', 3, 14, 16)
7 20 (0, 'Fare', 15.7417, 16, 18)
8 27 (0, 'PassengerId', 502, 18, 20)
9 68 (0, 'Fare', 21.075, 20, 22)
10 130 (0, 'Fare', 29.0, 22, 24)
11 2 (0, 'PassengerId', 531, 24, 26)
12 355 (0, 'Fare', 56.4958, 26, 28)
13 94 (0, 'Age', 37.0, 28, 30)
14 6 (0, 'Age', 3.0, 30, 32)
15 11 (1, 1)
16 7 (1, 1)
17 13 (0, 'Fare', 14.4542, 32, 34)
18 12 (0, 'Age', 1000.0, 34, 36)
19 15 (1, 1)
20 24 (0, 'PassengerId', 375, 36, 38)
21 44 (0, 'Fare', 11.1333, 38, 40)
22 77 (0, 'Parch', 2, 40, 42)
23 53 (0, 'Fare', 28.7125, 42, 44)
24 1 (1, 1)
25 1 (1, 0)
26 15 (0, 'Fare', 69.55, 44, 46)
27 340 (0, 'Age', 9.0, 46, 48)
28 62 (0, 'PassengerId', 588, 48, 50)
29 32 (0, 'PassengerId', 391, 50, 52)
30 1 (1, 1)
31 5 (1, 0)
32 8 (0, 'Parch', 2, 52, 54)
33 5 (1, 1)
34 7 (0, 'PassengerId', 574, 54, 56)
35 5 (1, 0)
36 14 (1, 0)
37 10 (0, 'PassengerId', 185, 56, 58)
38 17 (0, 'PassengerId', 80, 58, 60)
39 27 (0, 'Age', 28.0, 60, 62)
40 12 (0, 'Age', 25.0, 62, 64)
41 65 (1, 1)
42 1 (1, 0)
43 52 (0, 'Age', 24.0, 64, 66)
44 9 (1, 0)
45 6 (0, 'PassengerId', 510, 66, 68)
46 331 (0, 'PassengerId', 583, 68, 70)
47 9 (0, 'SibSp', 3, 70, 72)
48 22 (0, 'Fare', 26.2875, 72, 74)
49 40 (0, 'Fare', 38.5, 74, 76)
50 22 (0, 'PassengerId', 749, 76, 78)
51 10 (0, 'Fare', 77.2875, 78, 80)
52 1 (1, 1)
53 7 (0, 'PassengerId', 831, 80, 82)
54 6 (0, 'Parch', 2, 82, 84)
55 1 (1, 0)
56 3 (0, 'Age', 1000.0, 84, 86)
57 7 (0, 'Parch', 5, 86, 88)
58 14 (0, 'Age', 41.0, 88, 90)
59 3 (1, 0)
60 10 (0, 'PassengerId', 798, 90, 92)
61 17 (0, 'Fare', 7.775, 92, 94)
62 3 (0, 'PassengerId', 755, 94, 96)
63 9 (1, 1)
64 38 (0, 'Age', 28.0, 96, 98)
65 14 (1, 1)
66 4 (1, 1)
67 2 (0, 'PassengerId', 170, 98, 100)
68 123 (0, 'SibSp', 1, 100, 102)
69 208 (0, 'PassengerId', 570, 102, 104)
70 6 (1, 0)
71 3 (1, 1)
72 17 (0, 'PassengerId', 660, 104, 106)
73 5 (1, 0)
74 18 (0, 'Age', 45.0, 106, 108)
75 22 (0, 'Age', 55.0, 108, 110)
76 5 (0, 'Age', 31.0, 110, 112)
77 17 (0, 'Fare', 27.75, 112, 114)
78 6 (1, 0)
79 4 (0, 'PassengerId', 98, 114, 116)
80 2 (0, 'PassengerId', 853, 116, 118)
81 5 (1, 0)
82 1 (1, 0)
83 5 (0, 'PassengerId', 681, 118, 120)
84 1 (1, 0)
85 2 (1, 1)
86 1 (1, 1)
87 6 (1, 0)
88 4 (0, 'PassengerId', 348, 120, 122)
89 10 (0, 'PassengerId', 424, 122, 124)
90 1 (1, 1)
91 9 (1, 0)
92 14 (0, 'Age', 26.0, 124, 126)
93 3 (1, 1)
94 2 (1, 1)
95 1 (1, 0)
96 30 (0, 'Age', 38.0, 126, 128)
97 8 (0, 'PassengerId', 317, 128, 130)
98 1 (1, 0)
99 1 (1, 1)
100 21 (0, 'Fare', 16.1, 130, 132)
101 102 (0, 'Age', 27.0, 132, 134)
102 5 (0, 'Age', 32.0, 134, 136)
103 203 (0, 'Embarked', None, 136, 139)
104 10 (0, 'Fare', 30.6958, 139, 141)
105 7 (0, 'Age', 61.0, 141, 143)
106 15 (1, 0)
107 3 (0, 'PassengerId', 225, 143, 145)
108 13 (0, 'PassengerId', 65, 145, 147)
109 9 (0, 'Age', 48.0, 147, 149)
110 2 (1, 0)
111 3 (0, 'PassengerId', 803, 149, 151)
112 11 (0, 'Fare', 53.1, 151, 153)
113 6 (1, 1)
114 2 (1, 1)
115 2 (0, 'PassengerId', 84, 153, 155)
116 1 (1, 0)
117 1 (1, 1)
118 2 (0, 'PassengerId', 698, 155, 157)
119 3 (1, 1)
120 2 (1, 1)
121 2 (1, 0)
122 3 (0, 'PassengerId', 480, 157, 159)
123 7 (1, 1)
124 2 (1, 1)
125 12 (0, 'SibSp', 4, 159, 161)
126 14 (0, 'Age', 40.0, 161, 163)
127 16 (1, 1)
128 4 (1, 1)
129 4 (0, 'Parch', 2, 163, 165)
130 13 (1, 0)
131 8 (0, 'Embarked', None, 165, 167)
132 64 (0, 'Age', 32.0, 167, 169)
133 38 (1, 0)
134 3 (1, 1)
135 2 (1, 0)
136 25 (0, 'Age', 23.0, 169, 171)
137 20 (0, 'SibSp', 2, 171, 173)
138 158 (0, 'Fare', 13.5, 173, 175)
139 6 (0, 'Embarked', None, 175, 177)
140 4 (0, 'PassengerId', 708, 177, 179)
141 2 (0, 'PassengerId', 631, 179, 181)
142 5 (1, 1)
143 2 (0, 'PassengerId', 333, 181, 183)
144 1 (1, 0)
145 12 (0, 'Age', 1000.0, 183, 185)
146 1 (1, 1)
147 2 (1, 1)
148 7 (0, 'PassengerId', 274, 185, 187)
149 2 (1, 1)
150 1 (1, 0)
151 6 (1, 1)
152 5 (0, 'PassengerId', 608, 187, 189)
153 1 (1, 0)
154 1 (1, 1)
155 1 (1, 1)
156 1 (1, 0)
157 2 (1, 1)
158 1 (1, 0)
159 1 (1, 1)
160 11 (0, 'PassengerId', 555, 189, 191)
161 13 (0, 'PassengerId', 773, 191, 193)
162 1 (1, 0)
163 1 (1, 1)
164 3 (1, 0)
165 2 (1, 1)
166 6 (0, 'Age', 21.0, 193, 195)
167 54 (0, 'Embarked', None, 195, 198)
168 10 (0, 'Age', 31.0, 198, 200)
169 22 (0, 'Parch', 1, 200, 202)
170 3 (0, 'Parch', 1, 202, 204)
171 1 (1, 1)
172 19 (0, 'Age', 40.0, 204, 206)
173 32 (1, 0)
174 126 (0, 'Age', 17.0, 206, 208)
175 5 (1, 0)
176 1 (1, 1)
177 3 (1, 1)
178 1 (1, 0)
179 1 (1, 1)
180 1 (1, 0)
181 1 (1, 0)
182 1 (1, 1)
183 5 (0, 'PassengerId', 299, 208, 210)
184 7 (1, 0)
185 4 (1, 0)
186 3 (0, 'PassengerId', 188, 210, 212)
187 3 (0, 'PassengerId', 672, 212, 214)
188 2 (1, 0)
189 5 (0, 'PassengerId', 730, 214, 216)
190 6 (1, 0)
191 6 (0, 'PassengerId', 775, 216, 218)
192 7 (1, 1)
193 4 (1, 0)
194 2 (0, 'PassengerId', 722, 218, 220)
195 8 (1, 0)
196 9 (0, 'PassengerId', 829, 220, 222)
197 37 (1, 0)
198 3 (0, 'PassengerId', 806, 222, 224)
199 7 (0, 'Age', 28.0, 224, 226)
200 1 (1, 1)
201 21 (0, 'Age', 30.0, 226, 228)
202 1 (1, 0)
203 2 (1, 1)
204 16 (1, 0)
205 3 (0, 'PassengerId', 511, 228, 230)
206 125 (0, 'PassengerId', 462, 230, 232)
207 1 (1, 1)
208 2 (0, 'PassengerId', 352, 232, 234)
209 3 (1, 0)
210 2 (1, 1)
211 1 (1, 0)
212 1 (1, 0)
213 2 (1, 1)
214 3 (1, 0)
215 2 (1, 1)
216 5 (0, 'Fare', 26.0, 234, 236)
217 1 (1, 0)
218 1 (1, 0)
219 1 (1, 1)
220 2 (0, 'PassengerId', 891, 236, 238)
221 7 (1, 0)
222 1 (1, 0)
223 2 (1, 1)
224 5 (1, 0)
225 2 (0, 'PassengerId', 887, 238, 240)
226 15 (0, 'PassengerId', 43, 240, 242)
227 6 (0, 'PassengerId', 456, 242, 244)
228 1 (1, 1)
229 2 (1, 0)
230 22 (1, 0)
231 103 (0, 'PassengerId', 445, 244, 246)
232 1 (1, 0)
233 1 (1, 1)
234 1 (1, 0)
235 4 (1, 1)
236 1 (1, 0)
237 1 (1, 1)
238 1 (1, 0)
239 1 (1, 1)
240 13 (1, 0)
241 2 (0, 'PassengerId', 37, 246, 248)
242 1 (1, 1)
243 5 (0, 'Fare', 18.7875, 248, 250)
244 1 (1, 1)
245 102 (0, 'PassengerId', 268, 250, 252)
246 1 (1, 1)
247 1 (1, 0)
248 2 (0, 'PassengerId', 362, 252, 254)
249 3 (1, 0)
250 38 (0, 'PassengerId', 295, 254, 256)
251 64 (0, 'PassengerId', 150, 256, 258)
252 1 (1, 0)
253 1 (1, 1)
254 30 (0, 'Age', 32.0, 258, 260)
255 8 (0, 'Fare', 8.05, 260, 262)
256 34 (0, 'Age', 20.5, 262, 264)
257 30 (0, 'PassengerId', 147, 264, 266)
258 13 (0, 'Age', 51.0, 266, 268)
259 17 (1, 0)
260 3 (1, 1)
261 5 (0, 'PassengerId', 278, 268, 270)
262 28 (1, 0)
263 6 (0, 'PassengerId', 205, 270, 272)
264 1 (1, 1)
265 29 (0, 'Fare', 13.0, 272, 274)
266 6 (1, 0)
267 7 (0, 'PassengerId', 401, 274, 276)
268 3 (1, 0)
269 2 (1, 1)
270 3 (0, 'PassengerId', 239, 276, 278)
271 3 (1, 0)
272 1 (1, 1)
273 28 (0, 'Fare', 7.8, 278, 280)
274 3 (1, 1)
275 4 (0, 'PassengerId', 350, 280, 282)
276 1 (1, 0)
277 2 (1, 1)
278 22 (0, 'Fare', 9.5, 282, 284)
279 6 (0, 'Age', 1000.0, 284, 286)
280 3 (1, 0)
281 1 (1, 1)
282 4 (0, 'Pclass', 3, 286, 288)
283 18 (1, 0)
284 1 (1, 1)
285 5 (0, 'PassengerId', 128, 288, 290)
286 1 (1, 1)
287 3 (1, 0)
288 3 (0, 'PassengerId', 130, 290, 292)
289 2 (1, 0)
290 2 (1, 0)
291 1 (1, 1)

In [ ]:
kgbo=[0.1,0.2,0.3]
kgb=[0.9,0.6,0.7]
print(kgb-kgbo)

In [160]:
print(train)

     PassengerId  Survived  Pclass     Sex      Age  SibSp  Parch      Fare  \
276          277         0       3  female    45.00      0      0    7.7500
419          420         0       3  female    10.00      0      2   24.1500
431          432         1       3  female  1000.00      1      0   16.1000
205          206         0       3  female     2.00      0      1   10.4625
797          798         1       3  female    31.00      0      0    8.6833
796          797         1       1  female    49.00      0      0   25.9292
618          619         1       2  female     4.00      2      1   39.0000
772          773         0       2  female    57.00      0      0   10.5000
198          199         1       3  female  1000.00      0      0    7.7500
24            25         0       3  female     8.00      3      1   21.0750
11            12         1       1  female    58.00      0      0   26.5500
759          760         1       1  female    33.00      0      0   86.5000
190          191         1       2  female    32.00      0      0   13.0000
88            89         1       1  female    23.00      3      2  263.0000
853          854         1       1  female    16.00      0      1   39.4000
871          872         1       1  female    47.00      1      1   52.5542
161          162         1       2  female    40.00      0      0   15.7500
100          101         0       3  female    28.00      0      0    7.8958
66            67         1       2  female    29.00      0      0   10.5000
49            50         0       3  female    18.00      1      0   17.8000
852          853         0       3  female     9.00      1      1   15.2458
106          107         1       3  female    21.00      0      0    7.6500
32            33         1       3  female  1000.00      0      0    7.7500
31            32         1       1  female  1000.00      1      0  146.5208
792          793         0       3  female  1000.00      8      2   69.5500
156          157         1       3  female    16.00      0      0    7.7333
829          830         1       1  female    62.00      0      0   80.0000
28            29         1       3  female  1000.00      0      0    7.8792
617          618         0       3  female    26.00      1      0   16.1000
801          802         1       2  female    31.00      1      1   26.2500
..           ...       ...     ...     ...      ...    ...    ...       ...
806          807         0       1    male    39.00      0      0    0.0000
692          693         1       3    male  1000.00      0      0   56.4958
671          672         0       1    male    31.00      1      0   52.0000
826          827         0       3    male  1000.00      0      0   56.4958
668          669         0       3    male    43.00      0      0    8.0500
667          668         0       3    male  1000.00      0      0    7.7750
637          638         0       2    male    31.00      1      1   26.2500
686          687         0       3    male    14.00      4      1   39.6875
739          740         0       3    male  1000.00      0      0    7.8958
687          688         0       3    male    19.00      0      0   10.1708
643          644         1       3    male  1000.00      0      0   56.4958
645          646         1       1    male    48.00      1      0   76.7292
646          647         0       3    male    19.00      0      0    7.8958
648          649         0       3    male  1000.00      0      0    7.5500
840          841         0       3    male    20.00      0      0    7.9250
652          653         0       3    male    21.00      0      0    8.4333
836          837         0       3    male    21.00      0      0    8.6625
834          835         0       3    male    18.00      0      0    8.3000
833          834         0       3    male    23.00      0      0    7.8542
655          656         0       2    male    24.00      2      0   73.5000
656          657         0       3    male  1000.00      0      0    7.8958
253          254         0       3    male    30.00      1      0   16.1000
685          686         0       2    male    25.00      1      2   41.5792
153          154         0       3    male    40.50      0      2   14.5000
250          251         0       3    male  1000.00      0      0    7.2500
748          749         0       1    male    19.00      1      0   53.1000
353          354         0       3    male    25.00      1      0   17.8000
305          306         1       1    male     0.92      1      2  151.5500
805          806         0       3    male    31.00      0      0    7.7750
890          891         0       3    male    32.00      0      0    7.7500

        Embarked
276            S
419            S
431            S
205            S
797            S
796            S
618            S
772            S
198            Q
24             S
11             S
759            S
190            S
88             S
853            S
871            S
161            S
100            S
66             S
49             S
852            C
106            S
32             Q
31             C
792            S
156            Q
829  Nothingface
28             Q
617            S
801            S
..           ...
806            S
692            S
671            S
826            S
668            S
667            S
637            S
686            S
739            S
687            S
643            S
645            C
646            S
648            S
840            S
652            S
836            S
834            S
833            S
655            S
656            S
253            S
685            C
153            S
250            S
748            S
353            S
305            S
805            S
890            Q

[713 rows x 9 columns]

In [185]:
print(train.loc[0,:])
print(test.loc[0,:])

PassengerId       1
Survived          0
Pclass            3
Sex            male
Age              22
SibSp             1
Parch             0
Fare           7.25
Embarked          S
Name: 0, dtype: object
PassengerId       1
Survived          0
Pclass            3
Sex            male
Age              22
SibSp             1
Parch             0
Fare           7.25
Embarked          S
Name: 0, dtype: object